h1 #{repository.username} / #{repository.name}
if repository.files.length > 0
  h3 files
  ul
    each file in repository.files
      li #{file.name} #{file.type === 'tree' ? '/' : ''}
else
  h3 empty
